@font-face {
    font-family: 'NovecentoBold';
    src: url('Novecento-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: #000; /* Fallback enquanto carrega */
    color: #fff;
    font-family: 'NovecentoBold', Arial, sans-serif;
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
  }
  
  #container {
    text-align: center;
    margin-top: 140px;
    padding: 40px;
    border-radius: 10px;
    display: none; 
  }
  #message {
   font-size: 44px;
   }

  #finalMessage {
    font-size: 44px;
   }
  
  #countdown span {
    color: red;
    display: flex;
    justify-content: center;
    padding: 80px 80px;
    font-size: 60px;
  }
  
  #backButton {
    display: inline-block;
    margin-top: 100px;
    padding: 12px 24px;
    background-color: red;
    color: white;
    font-size: 25px;
    text-decoration: none;
    border-radius: 8px;
    }
  
  #backButton:hover {
    background-color: darkred;
  }
  
